[Desktop Entry]
Name=flimg
GenericName=Amateur Multicast Protocol Client/Server
Comment=Amateur Radio Communications
Exec=flimg
Icon=flimg
Terminal=false
Type=Application
Categories=Network;HamRadio;
